<section>
  {{#heading 2}}Sass{{/heading}}

  {{#if (hasContent sass.variable)}}
  <section>
    {{#heading 3 'sass-variables'}}Переменные{{/heading}}

    <p>Стили "по умолчанию", определенные в этом компоненте могут быть переопределены через переменные Sass в <a href="sass.html#the-settings-file">файле настроек</a> вашего проекта.</p>

    <table class="docs-variable-table">
      <thead>
        <tr><th>Имя</th><th>Тип</th><th>Значение по умолчанию</th><th>Описание</th></tr>
      </thead>
      {{#each sass.variable}}
      <tr>
        <td class="name"><code>${{this.context.name}}</code></td>
        <td>{{formatSassTypes this.type}}</td>
        <td class="zf-docs-type-{{toLower this.type}}"><code>{{formatSassValue this.context.value}}</code></td>
        <td>{{md this.description}}</td>
      </tr>
      {{/each}}
    </table>
  </section>
  {{/if}}

  {{#if (hasContent sass.mixin)}}
  {{#if sass.variable}}<hr>{{/if}}

  <section>
    {{#heading 3 'sass-mixins'}}Миксины{{/heading}}

    <p>Этот компонент использует следующие миксины для формирования окончательного CSS. Вы можете использовать данные миксины для построения собственной структуры классов на встроенных компонентах.</p>

    {{#each sass.mixin}}{{#filter this}}
    <section {{#if this.deprecated }}class="docs-deprecated"{{/if}}>
      {{#heading 4}}{{this.context.name}}{{/heading}}

      {{#if this.since}}
        <p class="docs-notice-added">Добавлено в {{this.since.0.version}}</p>
      {{/if}}

      {{#if this.deprecated}}
        <p class="docs-notice-deprecated">Нерекомендуемая в {{this.deprecated}}</p>
      {{/if}}

      <div class="docs-code">
        <pre><code>{{writeSassMixin this}}</code></pre>
      </div>

      {{md this.description}}

      {{#if this.aliased}}
        <p><strong>Альясы:</strong> {{#each this.aliased}}<code>{{this}}()</code>{{/each}}</p>
      {{/if}}

      {{writeSassLink this.link}}

      {{#if this.parameter}}
      <table class="docs-variable-table">
        <thead>
          <tr><th>Параметр</th><th>Тип</th><th>Значение по умолчанию</th><th>Описание</th></tr>
        </thead>
        {{#each this.parameter}}
        <tr>
          <td><code>${{this.name}}</code></td>
          <td>{{formatSassTypes this.type}}</td>
          <td><code>{{formatSassValue this.default}}</code></td>
          <td>{{md this.description}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
    </section>

    {{#unless @last}}<hr>{{/unless}}

    {{#if sass.function}}
      <hr>
    {{/if}}

    {{/filter}}{{/each}}
  </section>
  {{/if}}

  {{#if (hasContent sass.function)}}
  <hr>

  <section>
    {{#heading 3 'sass-functions'}}Функции{{/heading}}

    {{#each sass.function}}{{#filter this}}
    <section {{#if this.deprecated }}class="docs-deprecated"{{/if}}>
      {{#heading 4}}{{this.context.name}}{{/heading}}

      {{#if this.since}}
        <p class="docs-notice-added">Добавлено в {{this.since.0.version}}</p>
      {{/if}}

      {{#if this.deprecated}}
        <p class="docs-notice-deprecated">Нерекомендуется в {{this.deprecated.version}}</p>
      {{/if}}

      <div class="docs-code">
        <pre><code>{{writeSassFunction this}}</code></pre>
      </div>

      {{md this.description}}

      {{writeSassLink this.link}}

      {{#if this.parameter}}
      <table class="docs-variable-table">
        <thead>
          <tr><th>Параметр</th><th>Тип</th><th>Значение по умолчанию</th><th>Описание</th></tr>
        </thead>
        {{#each this.parameter}}
        <tr>
          <td><code>${{this.name}}</code></td>
          <td>{{formatSassTypes this.type}}</td>
          <td><code>{{formatSassValue this.default}}</code></td>
          <td>{{md this.description}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
    </section>

    {{#unless @last}}<hr>{{/unless}}
    {{/filter}}{{/each}}
  </section>
  {{/if}}

</section>
